.search-services {
    display: inline-block;
    list-style: none;
    padding-left: 1em;

    li {
        display: inline-block;
        padding-right: 1em;
    }
}

.service-results{
    list-style: none;

    .glyphicon {
        margin-right: 0.5em;
    }
}