
<div class="page-header">
    <h1 class="intro-header">Tracking Tracks</h1>
</div>

<div class="search-box">

    <form class="search-form form-inline">
        <div class="form-group">
            <input type="text" name="query" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>

       <div class="help-block">
           Searching the top 10 results of: {{#services}}{{title}}/ {{/services}}
       </div>
    </form>
</div>

<div class="search-results row"></div>

<div class="page-header">
    <h5 class="intro-header">What is Tracking Tracks?</h5>
    <div class="help-block">Tracking Tracks aims to give you one search box for all major streaming music services.</div>
</div>
<div class="page-header">
    <h5 class="intro-header">Why Tracking Tracks?</h5>
    <div class="help-block">Are you a subscriber of one of the major music services? Have you ever encountered the dissapearance of one of your favorite songs, albums or artists? Did you check the competitor to find out they (still) had your fav tracks? That's why. To fight this annoyance. Truth be told, we haven't got a real plan so far. But we thought the first step would be to show the fact that the other service might be better for you. The next step is to make something that lets you switch from Spotify to Deezer with one click. To that we can only say <a href="http://open.spotify.com/track/33GLigpe5PChdcOz8pGGrq">one thing</a> for now. </div>
</div>
<div class="page-header">
    <h5 class="intro-header">Who is behind Tracking Tracks?</h5>
    <div class="help-block">Just some guys talking about some wild idea on a thursday evening. Want to join, mail us trackingtracks [at] stunst.com.</div>
</div>
